<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Question <span id="question_id"></span></h1>
            <p>
                Question Body
            </p>
            <p>
                <textarea id="response">

                </textarea>
                <br>
                <button id="submit" onclick="submitResponse()">
                    Submit Response
                </button>
            </p>
        </div>
        <script src="/assets/quiz.js"></script>
    </body>
</html>